.vdo-orderLogin {}

.vdo-orderLogin-number {
	float: left;
	margin: 0px 10px 5px;
}
			
.vdo-orderLogin-customer {
	float: left;
	margin: 0px 10px 5px;
}

.popup-window {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.popup-window-content {
	padding:20px;
}
